#content-king {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5%;
}
#content {
    /* padding-top: 2%;
    padding-left: 4%; */
    /* height: 100%; */
    margin-bottom: 3%;
    
}
#content h3 {
    font-size: 80px;
    font-weight: 100;
}
#content p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#content a {
    height: 10px;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #232323 ;
}
.carousel-and-bigname {
    margin: 1%;
}

@media (max-width: 699px) {
    #content-king {
        display: block;
        padding: 0 1%;
        margin: 0;
    }
    
}