#carousel-list {
    text-decoration: none;
    display: flex;
    /* width: 40rem; */
    list-style-type: none;
    overflow: scroll;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(50, 50, 50, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}

#carousel-list > li > img {
    height: 10rem;
    margin: 5px;
    border-radius: 15px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#carousel-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #carousel-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }