#form {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    padding: 6% 5%;
    border-radius: 30px;
}
#form-title {
    color: #232323;
    margin-bottom: 3%;
}