* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


.full-page {
    width: 98%;
    margin: 2% 1%;
    background-color: #232323;
    border-radius: 30px;
    /* padding-left: 2%; */
}
.background-image {
    padding: 3%;
    height: 100%;
    border-radius: 30px;
    background-image: url("./images/main-image.jpg");
    background-color: #f7efef;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page-body {
    padding: 2% 0 0 0;
}
@media (max-width: 699px) {
    .full-page {
        /* background-image: url("./images/main-image-portrait.jpg"); */
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
