* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


.full-page {
    width: 100%;
    height: 100vh;
    padding-left: 2%;
    background-image: url("./images/main-image.jpg");
    background-color: #f7efef;
    background-repeat: no-repeat;
    background-size: 100%;
}
.page-body {
    padding: 2% 0 0 0;
}
@media (max-width: 699px) {
    .full-page {
        background-image: url("./images/main-image-portrait.jpg");
    }
}